@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  --breakpoint-mb: 375px;
  --breakpoint-tb: 768px;
  --breakpoint-dk: 1440px;

  --color-connect: linear-gradient(
    90deg,
    rgba(223, 137, 8, 1) 0%,
    rgba(180, 21, 255, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: #161513;
}
html {
  scroll-behavior: smooth;
}

.connect-button {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
}

.main-text {
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight {
  background: none !important;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
}

.graph {
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}

.exp-text {
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
